<div class="login-container">
  <div class="login-card">
    <h1>Sign In</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <label>
        Email
        <input type="email" formControlName="email" placeholder="you@example.com"/>
        <span class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Valid email required
        </span>
      </label>

      <label>
        Password
        <input type="password" formControlName="password" placeholder="Enter password"/>
        <span class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password required
        </span>
      </label>

      <button type="submit">Sign In</button>
    </form>
  </div>
</div>
